<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add
        name="httpPlatformHandler"
        modules="httpPlatformHandler"
        resourceType="Unspecified"
        path="*"
        verb="*"
      />
    </handlers>
    <httpPlatform
        processPath="%PROGRAMFILES%\Java\jdk1.8.0_111\bin\java.exe"
        arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\api.jar&quot;"
        stdoutLogEnabled="true"
        stdoutLogFile="%HOME%\LogFiles\httpPlatformStdout."
    />
  </system.webServer>
</configuration>
